.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.row-login{
    /* padding: 0rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login{
    width: auto;
}