

.advantages {
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #198754;
    /* height: 60vh; */
    padding: 0.5rem;
    width: 100%;
    left: 0px;
}

.advantages h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    /* margin: 4vh; */
    padding-bottom: 4rem;
    color: white;
    position: relative;
    top: 7vh;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}


.row  .col-lg-4{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    margin:15vh;
    padding-top: 2rem;
}

