*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 1vh 0 1vh;
}


form{
    border: 1px solid rgb(227, 224, 224);
    border-radius: 10px;
    padding: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24vw;
    position: relative;
}

.btn{
    background-color:  #008B00	;
    width: 100%;
    padding: 1vh;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    padding: 1vw;
}

input{
    padding: 1vh;
    outline: none;
    border: 1px solid lightsteelblue;
    margin: 2px;
    border-radius: 8px;
    width: 100%;
}

.light{
    color: gray;
    opacity: 0.8;
    max-width: 80%;
    text-align: center;
    text-decoration: none;
}

#trouble{
    text-decoration: none;
    color: rgb(86, 83, 83);
    text-align: left;
}


.signUl{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0;
    justify-content: space-between;
}

.signLi{
    list-style: none;
    /* margin: 3px; */
    border: 1px solid lightslategrey;
    padding: 0.7vw;
    border-radius: 8px;
}

.right{
    grid-area: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* 
#requestDemo{
    margin-top: 0px;
    margin-left: 2vw;
} */

.SignUp-Container{
    display: flex;
    flex-direction: row;
}

.illustrative_Image{
    display: flex;
    height: 55vh;
    width: 45vw;
    position: relative;
    top: 9em;
    left: 8em;
}