@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Oxygen:wght@700&family=Roboto+Condensed&family=Secular+One&display=swap');

*{
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
}

.logo{
  font-size: 2rem;
  font-family: 'Secular One', sans-serif;
}
.nav{
  padding: 8px;
  font-size: 1.7rem;
  padding: 0.5rem;
  font-family: 'Secular One', sans-serif;
}

#cart-img{
  width: 30px;
  height: 30px;
}


hr{
  margin: 0;
}

/* .navber-container{
  position:sticky;
  top: 0rem;
  left: 0rem;
  z-index: 3;
} */






.card-title{
  font-size: 1.25rem;
  font-family: 'Oxygen', sans-serif;
}

/* .hiddenInBazar{
  display: block;
} */

